body{
    background-color: aliceblue;
    font-family: sans-serif;
}
h1 {
    font-size: 20px;
    color: red;
}
#image{
    width:200px;
    height:200px;
}

p{
    background-color: antiquewhite;
}

a:hover{
    color: white;
}
ul{
    margin: 10px;
}
ol{
    margin:15px;
}
table{
    border: solid;

}
tr:nth-child(even){
    background-color: blueviolet;
}


